[*.cs]

# Default severity for analyzer diagnostics with category 'Naming'
dotnet_analyzer_diagnostic.category-Naming.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = silent
